In [1]:
import pandas as  pd 

data = pd.read_csv('../data/data_stocks.csv')

In [5]:
data = data.drop(['DATE'],1) #删除日期列
s = data[:5]
s

,SP500,NASDAQ.AAL,NASDAQ.AAPL,NASDAQ.ADBE,NASDAQ.ADI,NASDAQ.ADP,NASDAQ.ADSK,NASDAQ.AKAM,NASDAQ.ALXN,NASDAQ.AMAT,...,NYSE.WYN,NYSE.XEC,NYSE.XEL,NYSE.XL,NYSE.XOM,NYSE.XRX,NYSE.XYL,NYSE.YUM,NYSE.ZBH,NYSE.ZTS
0,2363.6101,42.3300,143.6800,129.6300,82.040,102.2300,85.2200,59.760,121.52,38.99,...,84.370,119.035,44.40,39.88,82.03,7.36,50.22,63.86,122.000,53.350
1,2364.1001,42.3600,143.7000,130.3200,82.080,102.1400,85.6500,59.840,121.48,39.01,...,84.370,119.035,44.11,39.88,82.03,7.38,50.22,63.74,121.770,53.350
2,2362.6799,42.3100,143.6901,130.2250,82.030,102.2125,85.5100,59.795,121.93,38.91,...,84.585,119.260,44.09,39.98,82.02,7.36,50.12,63.75,121.700,53.365
3,2364.3101,42.3700,143.6400,130.0729,82.000,102.1400,85.4872,59.620,121.44,38.84,...,84.460,119.260,44.25,39.99,82.02,7.35,50.16,63.88,121.700,53.380
4,2364.8501,42.5378,143.6600,129.8800,82.035,102.0600,85.7001,59.620,121.60,38.93,...,84.470,119.610,44.11,39.96,82.03,7.36,50.20,63.91,121.695,53.240

In [17]:
from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler() 
scaler.fit(data)
sdata = scaler.transform(data)

In [23]:
#划分训练集和验证集
X_train = sdata[:int(len(sdata)*0.8),1:]
y_train = sdata[:int(len(sdata)*0.8),0]
X_test = sdata[int(len(sdata)*0.8):,1:]
y_test = sdata[int(len(sdata)*0.8):,0]

In [26]:
y_train.shape

(33012,)

In [27]:
import tensorflow as tf 

n_stocks =500 
n_neurons_1 = 1024 
n_neurons_2 = 512 
n_neurons_3 = 256 
n_neurons_4 = 128 
n_target =1 
#layer:hidden 
W_hidden_1 = tf.Variable(tf.shape[None,n_neurons_1])
b_hidden_1 = tf.Variable(tf.)